{{ $news := site.Data.news }}
{{ if eq .Site.Language.Lang "ja" }}
  {{ $news = site.Data.ja.news }}
{{ end }}

<div class="news-table">
  {{ range $news }}
    <div class="news-row">
      <div class="news-date">{{ .date }}</div>

      <div class="news-body">
        {{ if .url }}
          <div class="news-head"><a href="{{ .url }}">{{ .title }}</a></div>
        {{ else }}
          <div class="news-head">{{ .title }}</div>
        {{ end }}
        {{ with .desc }}<div class="news-desc">{{ . }}</div>{{ end }}
      </div>
    </div>
  {{ end }}
</div>